.container {
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .availability {
    margin-top: 20px;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  }
  
  .availabilityBoxes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .timeSlots {
    margin-top: 20px;
    padding: 1rem;
    background-color: #fdfdfd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.timeSlotOptions {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
  }
  
  .timePicker {
    margin-top: 20px;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  }
  
  .scheduleButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .scheduleButton {
    border: 2px solid orchid;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    font-size: 0.9rem;
    font-family: monospace;
    box-shadow: 0px 4px 4px rgb(41, 40, 40);
    transition: 600ms;
  }

  .scheduleButton:hover {
    background-color: orchid;
    transition: 600ms;
    color: white;
    box-shadow: 0px 0px 0px rgb(41, 40, 40);
  }

  .dialogContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  @media (max-width: 600px) {
    .availabilityBoxes,
    .timeSlotOptions {
      flex-direction: column;
    }
  }
  