.container {
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .availability {
    margin-top: 20px;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  }
  
  .availabilityBoxes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .timeSlots {
    margin-top: 20px;
    padding: 1rem;
    background-color: #fdfdfd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.timeSlotOptions {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
  }
  
  .timePicker {
    margin-top: 20px;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  }
  
  .scheduleButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .dialogContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  @media (max-width: 600px) {
    .availabilityBoxes,
    .timeSlotOptions {
      flex-direction: column;
    }
  }
  